<h1>Welcome to Caccia!</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @musicians.each do |m| %>
      <tr>
        <td><%= link_to 'Show', m %></td>
      </tr>
    <% end %>
  </tbody>
</table>

